<div class="flex flex-col items-center gap-8">
    <button (click)="goToAddItem()" class="btn btn-outline btn-info">Add new item!</button>

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Done</th>
                    <th class="font-bold">Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items.itemsArr">
                    <td><input type="checkbox" [(ngModel)]=item.status class="checkbox" /></td>
                    <td class="font-bold">{{item.title}}</td>
                    <td>{{item.desc}}</td>
                    <td>
                        <div class="badge badge-neutral gap-2">
                            {{item.status && 'Done' || 'Pending'}}
                            {{item.due_date.getDate()}}/{{item.due_date.getMonth()}}/{{item.due_date.getFullYear()}}
                        </div>
                    </td>
                    <td>
                        <button [routerLink]="['/edit', item.id]" class="btn btn-default btn-sm mr-2">Edit</button>
                        <button id="btnDel" (click)="items.updateItemIdToBeDeleted(item.id)"
                            class="btn btn-error btn-sm btnDel">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <app-dialog-box *ngIf="this.items.itemIdToBeDeleted !== -1"></app-dialog-box>
    </div>
</div>