<div class="flex flex-col items-center">
    <div class="borde-2 borde-red-400">
        <input [(ngModel)]="newItemTitle" (keyup.enter)="addItem()" type="text" placeholder="New Title"
            class="input input-bordered input-md mr-2" />
        <input [(ngModel)]="newItemDesc" (keyup.enter)="addItem()" type="text" placeholder="New Description"
            class="input input-bordered input-md mr-2" />
        <input [(ngModel)]="newItemDueDate" (keyup.enter)="addItem()" type="date" placeholder="New Due Date"
            class="input input-bordered input-md mr-2" />
        <button (click)="addItem()" class="btn btn-outline btn-info">Add!</button>
    </div>


    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Done</th>
                    <th class="font-bold">Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items.itemsArr">
                    <td><input type="checkbox" [(ngModel)]=item.status class="checkbox" /></td>
                    <td class="font-bold">{{item.title}}</td>
                    <td>{{item.desc}}</td>
                    <td>
                        <div class="badge badge-neutral gap-2">
                            {{item.status && 'Done' || 'Pending'}}
                            {{item.due_date.getDate()}}/{{item.due_date.getMonth()}}/{{item.due_date.getFullYear()}}
                        </div>
                    </td>
                    <td>
                        <button [routerLink]="['/edit', item.id]" class="btn btn-default btn-sm mr-2">Edit</button>
                        <button (click)="deleteItem(item.id)" class="btn btn-error btn-sm">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>